<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="de.cyb3rko.backpack.BackpackApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.PINcredible"
        tools:targetApi="33">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:fitsSystemWindows="true"
            android:theme="@style/Theme.PINcredible">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>

        </activity>

        <activity-alias
            android:name=".MainActivityDefault"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:targetActivity=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity-alias>

        <activity-alias
            android:name=".MainActivityBackpack"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_backpack"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity-alias>

        <activity-alias
            android:name=".MainActivityNews"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_news"
            android:label="News PC"
            android:targetActivity=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity-alias>

        <activity-alias
            android:name=".MainActivityWeather"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_weather"
            android:label="Weather PC"
            android:targetActivity=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity-alias>

        <activity-alias
            android:name=".MainActivityNotes"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_notes"
            android:label="Notes PC"
            android:targetActivity=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity-alias>

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:fitsSystemWindows="true"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name="de.cyb3rko.backpack.activities.BackpackAuthenticationActivity"
            android:exported="false"
            android:fitsSystemWindows="true" />

        <activity
            android:name="de.cyb3rko.backpack.UncaughtExceptionActivity"
            android:exported="false"
            android:fitsSystemWindows="true" />

    </application>

</manifest>
